In [61]:
import numpy as np
import pandas as pd

# What is Encoding? Why is it necessary?
### Encoding refers to changing the catagorical data into the numerical data using different Encoders. It is necessary because machine cannot understand strings in the Catagorical data while training the data, thus this type of data must be converted to numerical data which the machine can understand.

In [62]:
df = pd.read_csv('customer.csv',usecols=[2,3,4])
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [63]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

## **Ordinal Encoding:**
### This is used to convert ordinal catagorical data into the machine understandable mathematical terms.

In [64]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])
# In the OrdinalEncoder function we pass argument as shown above to specify the order in ascending order. If we don't do so OrdinalEncoder function will randomly give order to the elements

In [65]:
oe.fit(x_train)

x_train_encoded = oe.transform(x_train)
x_test_encoded = oe.transform(x_test)

In [66]:
x_train_encoded = pd.DataFrame(x_train_encoded, columns = x_train.columns)
x_train_encoded.head()

   review  education
0     2.0        2.0
1     0.0        2.0
2     2.0        2.0
3     1.0        1.0
4     1.0        1.0

In [67]:
x_test_encoded = pd.DataFrame(x_test_encoded, columns = x_test.columns)
x_test_encoded.head()

   review  education
0     1.0        0.0
1     0.0        2.0
2     0.0        2.0
3     1.0        0.0
4     0.0        1.0

## Label Encoding:
### This is done on the output column only to convert catagorical data into the machine understandable numerical data.

In [68]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [69]:
le.fit(y_train)

y_train_encoded = le.transform(y_train)
y_test_encoded = le.transform(y_test)

In [70]:
y_train_encoded

array([1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0])

In [71]:
y_train

47    Yes
46     No
42    Yes
44     No
32    Yes
38     No
34     No
48    Yes
1      No
8      No
25     No
37    Yes
10    Yes
29    Yes
7     Yes
31    Yes
19    Yes
16    Yes
13     No
24    Yes
14    Yes
40     No
23     No
27     No
3      No
33    Yes
12     No
2      No
43     No
9     Yes
18     No
11    Yes
49     No
17    Yes
28     No
35    Yes
4      No
20    Yes
45    Yes
6      No
Name: purchased, dtype: object